<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177685089319-1hckrohv66pd8234toeskerk3lvau914.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177685089319-1hckrohv66pd8234toeskerk3lvau914</string>
	<key>API_KEY</key>
	<string>AIzaSyCXjg5ESbE95JLlthyPq084n1HbZdXzzJo</string>
	<key>GCM_SENDER_ID</key>
	<string>177685089319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrudFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-7f304</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-7f304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177685089319:ios:1bf8dc731144a809f5d202</string>
</dict>
</plist>